{% extends "accounts/base.html" %}

{% block title %}
Change Password
{% endblock %}

{% block content %}

<div class="container">

    <h1>Change Password</h1>

    <br>

    <div class="card">

        <form method="post">

            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="form-group">
                {{ form.old_password.label_tag }}
                {{ form.old_password }}

                {% for error in form.old_password.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}

                {% for error in form.new_password1.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}

                {% for error in form.new_password2.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}
            </div>

            <button type="submit" class="primary-button">
                Change Password
            </button>

            <a href="{% url 'home' %}">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}
